* {
  box-sizing: border-box;
}

.body-cart {
  margin: 20px 0;
  padding: 0;
  font-family: arial, sans-serif;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  color: #f58551;
}

.body-cart button {
  background-color: #16cc9b;
  border: 2px solid #16cc9b;
  color: #ffffff;
  transition: all 0.25s linear;
  cursor: pointer;
}

.body-cart button::after {
  position: relative;
  right: 0;
  content: " \276f";
  transition: all 0.15s linear;
}

.body-cart button:hover {
  background-color: #f58551;
  border-color: #f58551;
}

.body-cart button:hover::after {
  right: -5px;
}

.body-cart button:focus {
  outline: none;
}

.body-cart ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.body-cart input {
  transition: all 0.25s linear;
}

.body-cart input[type="number"]::-webkit-inner-spin-button,
.body-cart input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.body-cart input {
  outline: none;
}

.body-cart .container {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
}

/* --- HEADER --- */
.body-cart header.container {
  margin-bottom: 1.5rem;
}

.body-cart header .breadcrumb {
  color: #7d7d7d;
}

.body-cart header .breadcrumb li {
  float: left;
  padding: 0 6px;
  height: 20px;
  line-height: 20px;
}

.body-cart header .breadcrumb li:first-child {
  padding-left: 2px;
}

.body-cart header .breadcrumb li:not(:last-child)::after {
  content: " \276f";
  padding-left: 8px;
}

.body-cart header .count {
  float: right;
  color: #333333;
  height: 20px;
  line-height: 20px;
}

/* --- PRODUCT LIST --- */
.body-cart .products {
  border-top: 1px solid #ddd;
}

.body-cart .products > li {
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}

.body-cart .row {
  position: relative;
  overflow: auto;
  width: 100%;
}

.body-cart .col,
.body-cart .quantity,
.body-cart .remove {
  float: left;
}

.body-cart .col.left {
  width: 70%;
}

.body-cart .col.right {
  width: 30%;
  position: absolute;
  right: 0;
  top: calc(50% - 30px);
}

.body-cart .detail {
  padding: 0 0.5rem;
  line-height: 2.2rem;
}

.body-cart .detail .name {
  font-size: 1.2rem;
}

.body-cart .detail .description {
  color: #7d7d7d;
  font-size: 1rem;
}

.body-cart .detail .price {
  font-size: 1.5rem;
}

.body-cart.quantity,
.body-cart .remove {
  width: 50%;
  text-align: center;
}

.body-cart .remove svg {
  width: 60px;
  height: 60px;
}

.body-cart .quantity > input {
  display: inline-block;
  width: 60px;
  height: 60px;
  position: relative;
  left: calc(50% - 30px);
  background: #fff;
  border: 2px solid #ddd;
  color: #7f7f7f;
  text-align: center;
  font:
    600 1.5rem Helvetica,
    Arial,
    sans-serif;
}

.body-cart .quantity > input:hover,
.body-cart .quantity > input:focus {
  border-color: #f58551;
}

.body-cart .close {
  fill: #7d7d7d;
  transition:
    color 150ms linear,
    background-color 150ms linear,
    fill 150ms linear,
    150ms opacity linear;
  cursor: pointer;
}

.body-cart .close:hover {
  fill: #f58551;
}

/* --- SUMMARY --- */
.body-cart .promotion,
.body-cart .summary,
.body-cart .checkout {
  float: left;
  width: 100%;
  margin-top: 1.5rem;
}

.body-cart .promotion > label {
  float: left;
  width: 100%;
  margin-bottom: 1rem;
}

.body-cart .promotion > input {
  float: left;
  width: 80%;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 1.8rem;
  border: 2px solid #16cc9b;
  border-radius: 2rem 0 0 2rem;
}

.body-cart .promotion:hover > input {
  border-color: #f58551;
}

.body-cart .promotion > button {
  float: left;
  width: 20%;
  height: 2.4rem;
  border-radius: 0 2rem 2rem 0;
}

.body-cart .promotion:hover > button {
  border-color: #f58551;
  background-color: #f58551;
}

.body-cart .promotion > button::after {
  content: "\276f";
  font-size: 1rem;
}

.body-cart .summary {
  font-size: 1.2rem;
  text-align: right;
  margin-left: 40%;
}

.body-cart .summary ul li {
  padding: 0.5rem 0;
}

.body-cart .summary ul li span {
  display: inline-block;
  width: 30%;
}

.body-cart .summary ul li.total {
  font-weight: bold;
}

.body-cart .checkout {
  text-align: right;
}

.body-cart .checkout > button {
  font-size: 1.2rem;
  padding: 0.8rem 2.8rem;
  border-radius: 1.5rem;
}

.body-cart .empty-product {
  text-align: center;
}

.body-cart .empty-product > button {
  font-size: 1.3rem;
  padding: 10px 30px;
  border-radius: 5px;
}

/* --- SMALL SCREEN --- */
@media all and (max-width: 599px) {
  .body-cart .thumbnail img {
    display: none;
  }

  .body-cart .quantity > input {
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
  }

  .body-cart .remove svg {
    width: 40px;
    height: 40px;
  }
  .body-cart .summary {
    margin-left: 0%;
  }
}

/* --- MEDIUM & LARGE SCREEN --- */
@media all and (min-width: 600px) {
  .body-cart .container {
    width: 75%;
    max-width: 960px;
  }

  .body-cart .thumbnail,
  .body-cart .detail {
    float: left;
  }

  .body-cart .thumbnail {
    width: 35%;
  }

  .body-cart .detail {
    width: 65%;
  }

  .body-cart .promotion,
  .body-cart .summary {
    width: 50%;
  }

  .body-cart .checkout {
    width: 100%;
  }

  .body-cart .checkout,
  .body-cart .summary {
    text-align: right;
  }
}
